<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Wish List</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="active"><a href="#">Add Wish</a></li>
              <li><a href="#about">Sign Out</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<br/>
	<br/>
    <div class="container">
		<div class="span3 pull-right">
		          <div class="well sidebar-nav">
		            <ul class="nav nav-list">
		              <li class="nav-header">This is you!</li>
                      <img src="http://d2.yimg.com/sr/img/1/96a211af-2dc7-34cd-bfb0-f997035f0287" class="img-rounded">
		              <li><a href="#">User details</a></li>
		            </ul>
		          </div><!--/.well -->
		        </div>

	
      <div class="hero-unit">
        <div class="row">
	        <div class="span2">
	          <h4>Wish List 1 </h4>
			  <img src="http://d2.yimg.com/sr/img/1/96a211af-2dc7-34cd-bfb0-f997035f0287" class="img-rounded">
			  <h6> bhavish </h6>
	        </div>
	        <div class="span2">
	          <h4>Wish List 1 </h4>
			  <img src="http://d2.yimg.com/sr/img/1/96a211af-2dc7-34cd-bfb0-f997035f0287" class="img-rounded">
			  <h6> Tom </h6>
	        </div>
	        <div class="span2">
	          <h4>Wish List 1 </h4>
			  <img src="http://d2.yimg.com/sr/img/1/96a211af-2dc7-34cd-bfb0-f997035f0287" class="img-rounded">
			  <h6> Jerry </h6>
	        </div>
	        <div class="span2">
	          <h4>Wish List 1 </h4>
			  <img src="http://d2.yimg.com/sr/img/1/96a211af-2dc7-34cd-bfb0-f997035f0287" class="img-rounded">
			  <h6> DBZ </h6>
	        </div>
		</div>
		
      </div>
      <hr>

      <footer>
        <p>© Company 2012</p>
      </footer>

    </div> <!-- /container -->
